/*1. //Banner section style/ */
.banner{
 p{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;

    }
h1{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */


    }

border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
 border:100px;
 margin-top: 50;
 margin-left: 140;
 padding: 200px;
 flex-shrink: 0;
 border-radius: 16px;
 color:white;
 background-image: url('../resources/Banner\ Image.png');
 background-repeat: no-repeat;
 text-align: center;
 opacity: 0.75;
}
/*2. //65% offer section Style// */
.off{
    color: red;
    text-align: center;
    text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.categories{
    p{
        color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
    h1{
        color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

    }
   #img2{
    padding: 1oopx;
   } 
   